<li class="nav-item" data-ref="news">
    <a class="nav-link" href="#" data-action="open-news">
        <span class="bi bi-megaphone"></span>
        Novita
        <span class="badge rounded-pill text-bg-warning ms-2 d-none" data-feed-badge="news">0</span>
    </a>
</li>
