<li class="nav-item me-4" data-ref="news">
    <a class="nav-link" href="#" data-action="open-news">
        <span class="position-relative d-inline-block">
            <span class="bi bi-megaphone" data-bs-toggle="tooltip" data-bs-title="News"></span>
            <span class="position-absolute mt-1 start-100 translate-middle badge rounded-pill bg-warning text-dark d-none" data-feed-badge="news">0</span>
        </span>
    </a>
</li>
