<div id="location-weather" class="navbar-nav mx-auto flex-row align-items-center" data-weather-widget="navbar">
    <div class="nav-item me-2">
        <div class="icon p-weather"></div>
    </div>
    <div class="nav-item mx-2">
        <span class="navbar-text text-bg-secondary px-2 rounded shadow p-weather-season"></span>
    </div>
    <div class="nav-item mx-2">
        <span class="navbar-text text-bg-dark px-2 rounded shadow p-moonphases"></span>
    </div>
    <div class="nav-item mx-2">
        <span class="bi bi-thermometer-half navbar-text"></span>
        <span class="navbar-text p-weather-degrees"></span>
    </div>
    <div class="nav-item mx-2">
        <span class="badge text-bg-warning d-none p-weather-override">Override</span>
    </div>
</div>
