<div class="modal fade" id="generic-confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-end my-3 mx-4">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <h4 class="text-center my-4"></h4>
                <div class="text-center text-muted my-3" name="title"></div>
            </div>
            <div class="modal-footer">
                <button type="button" name="btn-cancel" class="btn" data-action="general-confirm-cancel">
                    Annulla
                </button>
                <button type="button" name="btn-confirm" class="btn" data-action="general-confirm-confirm">
                    Confermo
                </button>
            </div>
        </div>
    </div>
</div>