<div class="modal fade" id="location-invite-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-end my-2">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <h5 class="mb-3">Invito a una location</h5>
                <p class="mb-0">
                    <strong name="owner_name"></strong> ti invita a raggiungere
                    <strong name="location_name"></strong>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-action="location-invite-decline">
                    Rifiuta
                </button>
                <button type="button" class="btn btn-primary" data-action="location-invite-accept">
                    Entra
                </button>
            </div>
        </div>
    </div>
</div>