<li class="nav-item" data-ref="quests">
    <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasQuests">
        <span class="bi bi-journal-text"></span> Quest
        <span class="badge rounded-pill text-bg-info ms-2 d-none" data-feed-badge="quests">0</span>
    </a>
</li>
