<aside class="col-md-3 col-lg-2 px-2 py-3">
        <div class="col-9 mx-auto">
            {% include 'app/weather/aside-widget.twig' %}
            {{ slot('game.aside.top') }}
            <div class="card mb-3">
                <div class="card-header text-center">
                    <a class="link-dark" href="#!">luogo di paesaggio</a>
                </div>
                <div class="card-body py-0">
                </div>
                <img src="{{ CONFIG['dirs']['imgs'] }}/defaults-images/default-location.png" class="card-img-bottom">
            </div>
    </article>
    
</aside>
