<aside class="col-md-3 col-lg-2 px-2 py-3">
        <div class="col-9 mx-auto">
            <div id="location-weather" class="card mb-3">
                <div class="card-body text-center">
                    <p class="p-date lead"></p>
                    <hr class="w-75 mx-auto"/>
                    <p class="p-weather-degrees"></p>
                    <hr class="w-50 mx-auto" />
                    <p class="p-moonphases"></p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header text-center">
                    <a class="link-dark" href="#!">luogo di paesaggio</a>
                </div>
                <div class="card-body py-0">
                </div>
                <img src="{{ CONFIG['dirs']['imgs'] }}/defaults-images/default-location.png" class="card-img-bottom">
            </div>
    </article>
    
</aside>
