<div class="modal fade" id="admin-guild-alignments-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-end my-3 mx-4">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <h4 class="display-6 text-center mt-3 mb-2">Allineamento</h4>
                <hr class="my-4" />

                <form id="admin-guild-alignments-form" class="row g-3">
                    <input type="hidden" name="id" value="">
                    <div class="col-12 col-md-8">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" name="name" maxlength="80" required>
                    </div>
                    <div class="col-12 col-md-4">
                        <label class="form-label">Attivo</label>
                        <select class="form-select" name="is_active">
                            <option value="1">Sì</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Descrizione</label>
                        <textarea class="form-control" name="description" rows="3" maxlength="1000" placeholder="Descrizione opzionale..."></textarea>
                    </div>
                </form>

                <div class="d-flex justify-content-end gap-2 mt-3">
                    <button type="button" class="btn btn-outline-danger d-none" data-action="admin-guild-alignments-delete">Elimina</button>
                    <button type="button" class="btn btn-primary" data-action="admin-guild-alignments-save">Salva</button>
                </div>
            </div>
        </div>
    </div>
</div>
