<div class="card mb-3" data-weather-widget="aside">
    <div class="card-body text-center">
        <p class="p-weather-season lead"></p>
        <hr class="w-75 mx-auto">
        <p class="p-weather-degrees"></p>
        <hr class="w-50 mx-auto">
        <p class="p-moonphases"></p>
    </div>
</div>

