<button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#location-weather-modal" data-requires-staff>
    <span><i class="bi bi-cloud-sun me-1"></i> Controllo clima</span>
</button>

