<div class="modal fade" id="location-drops-modal" tabindex="-1" aria-labelledby="location-drops-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-end my-3 mx-4">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <h4 class="display-6 text-center mt-3 mb-2" id="location-drops-modal-label">Oggetti a terra</h4>
                <h6 class="text-center text-muted">Oggetti disponibili nella location corrente.</h6>
                <hr class="my-4" />

                <div id="location-drops" data-bs-theme="dark">
                    <div id="location-drops-list" class="list-group list-group-flush"></div>
                </div>
            </div>
        </div>
    </div>
</div>

