<div class="modal fade" id="storyboards-modal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content text-bg-dark">
            <div class="modal-body">
                <div class="d-flex justify-content-end my-3 mx-4">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>

                <h4 class="display-5 text-center mt-3 mb-3">Ambientazione</h4>
                <h6 class="text-center text-muted">Leggi l'ambientazione e scopri il mondo di gioco in cui muovere il tuo personaggio</h6>
                <hr class="w-50 mx-auto" />
                <div class="container">
                    <div id="storyboards-modal-body" class="row py-4 docs-page">
                        <div class="col-4 docs-nav-col">
                            <div class="p-3">
                                <div class="mb-2">
                                    <input type="text" class="form-control form-control-sm" data-role="docs-filter" placeholder="Cerca capitolo...">
                                </div>
                                <ul class="nav nav-underline flex-column" data-role="docs-nav" role="tablist"></ul>
                            </div>
                        </div>
                        <div class="col-8 docs-content-col">
                            <div class="tab-content p-3" data-role="docs-content"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

