<div class="modal fade" id="home-feed-detail-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-end my-3 mx-4">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <h4 class="display-6 text-center mt-3 mb-2" id="home-feed-detail-title">Dettaglio</h4>
                <h6 class="text-center text-muted" id="home-feed-detail-subtitle">Approfondimento contenuto</h6>
                <hr class="my-4" />
                <div id="home-feed-detail-body" class="small"></div>
            </div>
        </div>
    </div>
</div>