<div class="modal fade" id="license-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-end my-3 mx-4">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <section class="mt-3">
                    <header class="text-center">
                        <h4 class="display-6">Licenza Logeon 0.1<br/><small>Versione 0.1 - (CMS a Codice Distribuito)</small></h4>
                    </header>
                    <hr/>
                    <article class="py-4">
                        <h5>Cos'e Logeon?</h5>
                        <p>
                            Logeon e un applicazione web di genere CMS (Content Management System) per la realizzazione di browser game di genere <em>play by chat</em>.
                            <br/>Il prodotto e' da considerarsi Open Source ed e' distribuito gratuitamente.
                        </p>
                        <h5>Termini di licenza</h5>
                        <p>
                            La licenza, sotto la quale viene rilasciato e distribuito il prodotto, e riportata al seguente link: <a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/deed.it">Creative Commons License</a>
                        </p>
                        <p>
                            Tu sei libero:
                            <ul>
                                <li>di riprodurre, distribuire, comunicare al pubblico, esporre in pubblico, rappresentare, eseguire e recitare quest'opera</li>
                                <li>di modificare quest'opera</li>
                            </ul>
                            Alle seguenti condizioni:
                            <ul>
                                <li>Attribuzione: Devi attribuire la paternita dell'opera nei modi indicati dall'autore o da chi ti ha dato l'opera in licenza e in modo tale da non suggerire che essi avallino te o il modo in cui tu usi l'opera.</li>
                                <li>Condividi allo stesso modo: Se alteri, trasformi o ampli quest'opera puoi ridistribuirla <b>SOLO</b> con una licenza simile o compatibile.</li>
                            </ul>
                            Prendendo atto che:
                            <ul>
                                <li>Rinuncia: Le condizioni sopracitate possono decadere ottenendo il permesso dell'autore.</li>
                                <li>Pubblico Dominio: Se l'opera o uno qualsiasi dei suoi elementi e di dominio pubblico ai sensi della legge applicabile, tale stato non e in alcun modo influenzato dalla licenza.</li>
                            </ul>
                            Altri diritti: la licenza non pregiudica in alcun modo i seguenti diritti:
                            <ul>
                                <li>Diritti di utilizzo corretto o altre eccezioni e limitazioni applicabili al copyright</li>
                                <li>I diritti morali dell'autore</li>
                                <li>Diritti che altre persone possono avere sull'opera stessa o su come l'opera viene utilizzata, come i diritti alla pubblicita o alla privacy</li>
                            </ul>
                        </p>
                        <p class="alert alert-warning">
                            Avviso: Ogni volta che usi o distribuisci quest'opera, devi farlo secondo i termini di questa licenza, che va comunicata con chiarezza.
                        </p>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>