<div class="modal fade" id="quests-history-detail-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-end my-3 mx-4">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <h4 class="display-6 text-center mt-3 mb-2">Dettaglio quest</h4>
                <h6 class="text-center text-muted">Report di chiusura, step e ricompense.</h6>
                <hr class="my-4" />
                <div id="quests-history-detail-body" class="small text-muted">Caricamento...</div>
            </div>
        </div>
    </div>
</div>
