<li class="nav-item ms-2" data-ref="quests">
    <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasQuests" aria-controls="offcanvasQuests">
        <span class="position-relative d-inline-block">
            <span class="bi bi-journal-text" data-bs-toggle="tooltip" data-bs-title="Quest"></span>
            <span class="position-absolute mt-1 start-100 translate-middle badge rounded-pill bg-info text-dark d-none" data-feed-badge="quests">0</span>
        </span>
    </a>
</li>
